/.idea/
*.iml
/chapters/closures/interfaces/
/chapters/files/filetypes/
/chapters/files/traverse-sample/
/checker/blog.html
/checker/file1
/checker/file1.doc
/checker/file1.txt
/checker/file2
/checker/file2.doc
/checker/file2.txt
/checker/file3
/checker/file3.doc
/checker/file3.txt
/checker/file4.doc
/checker/file4.txt
/checker/file5.doc
/checker/file5.txt
/checker/filetypes/
/checker/interfaces/
/checker/newname.groovy
/checker/sample.txt
/checker/test
/checker/test.zip
/checker/traverse-sample/